<span id="{{.SlugId}}"><span class="coinbase-button" data-code="{{.Coincode}}" data-button-style="none" data-custom="{{.SlugId}}" >{{formatB .BTC}}</span></span>
<script type="text/javascript">
$(document).ready(function() {
	$('.btc #{{.SlugId}}').click(function(){
		$(document).trigger("coinbase_show_modal", "{{.Coincode}}");
      return false;
    });
	$(document).on('coinbase_payment_complete', function(event, code){
      console.log("Payment completed for button "+code);
      window.location.reload(true);
    });	
});
</script>
