<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
	<title>Bitbanter</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="/static/images/favicon.png" />
	<link rel="apple-touch-icon-precomposed" href="/static/images/favicon-152.png" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="twitter:domain" content="bitbanter.com" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@bitbanters" />
	<meta name="twitter:creator" content="@FlailFast" />
	<meta name="twitter:title" content="Bitbanter: Where Virtual Value Validates Vim" />
	<meta name="twitter:description" content="A microtransaction-fueled satire engine. Send fractions of a bitcoin to authors that make you chuckle!" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Bitbanter" />
	<meta property="og:url" content="https://www.bitbanter.com/" />
	<meta property="og:image" content="https://www.bitbanter.com/static/images/favicon.png" />
	<meta property="og:description" content="A microtransaction-fueled satire engine. Send fractions of a bitcoin to authors that make you chuckle!" />
	<!--[if lte IE 8]>
	<meta HTTP-EQUIV="REFRESH" content="8; url=http://www.google.com/chrome">
	<![endif]-->
</head>
<body>
	<script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
	{{template "no_ie.html"}}
	{{template "header.html" .HeaderLink}}
	<div id="articlelist">
		{{if .ShowAlert}}
		{{if isTop .ShowAlert}}
			<img id="top_alert" src="/static/images/coin.svg" />
			<script type="text/javascript">
				$(document).ready(function(){
					$('#top_alert').show();
					setTimeout(function(){
						$('#top_alert').remove();
					}, 1500);
				});
			</script>
		{{else}}
			<img id="new_alert" src="/static/images/watch.svg" />
			<script type="text/javascript">
				$(document).ready(function(){
					$('#new_alert').show();
					setTimeout(function(){
						$('#new_alert').remove();
					}, 1500);
				});
			</script>
		{{end}}
		{{end}}
		{{with .Arts}}
		{{range .}}
		<div class="article">
			<div class="btc">{{template "bitcoin.html" .}}</div>
			<div class="headline"><a href="/art/{{.SlugId}}" target=_blank>{{.Headline}}</a></div>
			<div class="breaker"></div>
		</div>
		{{end}}
		{{else}}
		<div class="article">
			<div class="subhead">No articles. :( Why not submit one/Zoidberg?</div>
		</div>
		{{end}}
	</div>
</body>
</html>
