<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
	<title>Submit an article to Bitbanter</title>
	<meta content="text/html; charset=UTF-8" name="Content-Type"/>
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@bitbanters">
	<meta name="twitter:creator" content="@FlailFast">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Submit to Bitbanter">
	<meta property="og:url" content="https://www.bitbanter.com/submit">
	<meta property="og:image" content="https://www.bitbanter.com/static/images/favicon.png">
	<meta property="og:description" content="Submit an article to a microtransaction-fueled satire engine. Get tips for making people chuckle!">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link href="/static/style.css" rel="stylesheet" type="text/css"/>
	<link rel="icon" type="image/png" href="/static/images/favicon.png"/>
	<link rel="apple-touch-icon-precomposed" href="/static/images/favicon-152.png"/>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
	<!--[if lte IE 8]>
	<meta HTTP-EQUIV="REFRESH" content="8; url=http://www.google.com/chrome">
	<![endif]-->
</head>
<body>
	{{template "no_ie.html"}}
	{{template "header.html"}}
	<div class="submit">
		{{with .}}<span class="error">{{.}}</span>{{end}}
		<form action="/submit" method="post">
			<input type="text" name="headline" placeholder="Headline (Required, >10 & <111 chars)" required autofocus />
			<br />
			<input type="text" name="subhead" placeholder="Subhead (Optional, <111 chars)" />
			<br />
			<input type="text" name="twit" placeholder="Your Twitter Handle for Recognition (Totes Optional, No @ Please)" />
			<br />
			<textarea name="bod" placeholder="Your Article Text Here (Required, >200 & <15000 chars, one empty line between paragraphs please)" required></textarea>
			<br />
			<input type="text" name="btc_add" placeholder="Your Coinbase Email Address For Tips (Not Shown Publicly)" />
			<br />
			<input type="submit" value="Submit Article" />
			<div class="loader" style="display:none;width:3em;"> {{template "loader.svg"}} <div/>
			<script type="text/javascript">
				$('.submit').submit(function(){
						$('.loader').toggle();
						$('.submit form input[type="submit"]').remove();
				});
			</script>
		</form>
	</div>
</body>
</html>
