<!DOCTYPE html>
<html>
<head>
	<title>Bitbanter</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="/static/images/favicon.png" />
	<link rel="apple-touch-icon" href="/static/appicons/icon-57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/static/appicons/icon-72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/static/appicons/icon-114.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/static/appicons/icon-144.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<!--[if IE]>
	<meta HTTP-EQUIV="REFRESH" content="10; url=http://www.google.com/chrome">
	<![endif]-->
</head>
<body>
	{{template "no_ie.html"}}
	{{template "header.html"}}
	<div id="articlelist">
		<!--display watch or display coin here?-->
		<div class="article">
			<div class="btc">9btc</div>
			<div class="headline"><a href="/article" target=_blank>Headline here</a></div>
			<div class="breaker"></div>
		</div>
		<div class="article">
			<div class="btc"> 9btc </div>
			<div class="headline"><a href="/article" target=_blank>Another headline here</a></div>
			<div class="breaker"></div>
		</div>
	</div>
</body>
</html>
