<!DOCTYPE html>
<html>
<head>
	<title>Submit an article to Bitbanter</title>
	<link href="/static/style.css" rel="stylesheet" type="text/css" />
	<link rel="icon" type="image/png" href="/static/images/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<!--[if IE]>
	<meta HTTP-EQUIV="REFRESH" content="10; url=http://www.google.com/chrome">
	<![endif]-->
</head>
<body>
	{{template "no_ie.html"}}
	{{template "header.html"}}
	<div class="submit">
		<span class="error">An error would go here</span>
		<form>
			<input type="text" name="headline" placeholder="Headline (Required, >10 & <101 chars)" required autofocus />
			<br />
			<input type="text" name="subhead" placeholder="Subhead (Optional, <101 chars)" />
			<br />
			<input type="text" name="twit" placeholder="Your Twitter Handle for Recognition (Totes Optional, No @ Please)" />
			<br />
			<textarea name="bod" placeholder="Your Article Text Here (Yup, Even This is Optional, <15000 chars)"></textarea>
			<br />
			<input type="text" name="btc_add" placeholder="Your Public Bitcoin Address (For Tips -- Required, But Not Shown Publicly)" required />
			<br />
			<input type="button" value="Submit Article" />
		</form>
	</div>
</body>
</html>
